.navbar[data-open="true"] .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}
  
/* Fade out the second bar */
.navbar[data-open="true"] .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.navbar[data-open="true"] .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

.navbar[data-open="true"] .linkMenu {
    bottom: attr(data-navbar-height);
}